<!DOCTYPE html>
 <html  lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/s-youngBeast-activict.css">
  </head>
  <body>
    <div>测试用的</div>
    <div class="youngBeast-activict">
      <div class="img-wrap">
        <img class="img" src=""/>
        <div class="img-bottom"></div>
      </div>
      <div class="main">
        <p class="title">追逐梦想的青年</p>
        <p class="text">我是<span>路叔</span> 我是<span>有趣</span>青年</br>
        我可以<span>画一幅很美的画</span></br>
        也可以<span>连着说十个笑话</span></br>
        还可以<span>当着众人演讲不害怕</span></br>
        2020 我想<span>做一个努力的创业者</span></p>
      </div>
    </div>
    <script src="" async defer>
      (function(){
        var calc = function(){
            var docElement = document.documentElement;
            var clientWidthValue = docElement.clientWidth > 750 ? 750 : docElement.clientWidth;
            docElement.style.fontSize = 100*(clientWidthValue/750) + 'px';
        }
        calc();
        window.addEventListener('resize', calc);
      })();
    </script>
  </body>
</html>